.logo_place_header {
    background-size: contain;
    background-repeat: no-repeat;
    width: 183px;
    height: 32px;
    position: absolute;
    top: 30px;
    left: 64px;
  }
  
  .logo_place_footer {
    background-position: center;
    width: 183px;
    height: 35px;
    top: 0;
    left: 0;
  }