.kaufman__triangle {
    position: absolute;
    background-image: url(/images/_sprint-1/kaufman-triangle.svg);
    width: 877px;
    height: 877px;
    right: -210px;
    top: 0;
    background-size:  cover;
    z-index: 0;
  }