.kaufman__triangle {
    position: absolute;
    background-image: url(../__triangle/kaufman-triangle.svg);
    width: 877px;
    height: 877px;
    right: -210px;
    top: 0;
    background-size:  cover;
    z-index: 1;
    animation: rotation 20s linear infinite;
  }